.container{
    height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .wellcome{
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin-right: 80px;
        margin-left: 30px;
    }

    h1{
        color: white;
    }

    a{
        font-size: 23px;
        color:white;
    }
}