.title{
    height: 20px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.container{
    display: flex;
    
    
    .imagem{
        width: 50%;
        img{
            align-items: center;
            
        }
    }

    .register{
        height: 60vh;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .formulario{
            width: 300px;
            height: 400px;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 0px 5px 7px #00000081;

            h1{
                text-align: center;
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: bold;
            }
      
            input {
              outline: none;
              height: 25px;
              width: 200px;
              margin-left: 50px;
            }
      
            label {
              flex-direction: column;
              margin-top: 5px;
              margin-left: 50px;
            }
          }

          .cadastrarButton{
              text-align: center;
              margin-top: 10px;
          }
    }

    
}

